</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.pagedown-bootstrap.combined.js"></script>
<script>
	$('.alert').delay(5000).fadeOut(600);
</script>
</html>