<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />
  正文：<br />
  <textarea name="post" id="pagedownMe" class="form-control" rows="10" cols="100"></textarea><br />
  <input type="submit" value="发表" />
</form>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#uploadModal" id="uploadButton">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">upload images</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/upload" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="fileInput">upload images</label>
		    <input type="file" class="form-control" id="fileInput" placeholder="select your images" multiple="multiple" accept="image/jpeg, image/gif">
		  </div>
		  <button type="submit" class="btn btn-default">upload</button>
		</form>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" id="uploadOK">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%- include footer %>
<script>
	$("textarea#pagedownMe").pagedownBootstrap({'sanatize': false, 'help': function(){alert(1);return false;}});
  var paths = "";
  $("#fileInput").change(function(){
    var files = document.getElementById("fileInput").files;
    
    for(var i = 0; i < files.length; i++)
    {
      paths += "http://localhost:3000/images/" + files[i].name + "\n";
    }
  });
	$("#uploadOK").click(function(){
		alert(paths);
		$(".wmd-input");
	});
</script>