<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />
  正文：<br />
  <textarea name="post" id="pagedownMe" class="form-control" rows="10" cols="100"></textarea><br />
  <input type="submit" value="发表" />
</form>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" style="display: none" data-toggle="modal" data-target="#uploadModal" id="uploadButton">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">upload images</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/upload" enctype="multipart/form-data" name="fileinfo">
    		  <div class="form-group">
    		    <label for="fileInput">upload images</label>
    		    <input type="file" name="files" class="form-control" id="fileInput" placeholder="select your images" multiple="multiple" accept="image/jpeg, image/gif">
    		  </div>
              <div class="progress">
                  <div class="progress-bar progress-bar-warning" id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                  </div>
                </div>
    		  <button id="submitButton" type="button" class="btn btn-primary">upload</button>
    		</form>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" data-dismiss="modal" id="uploadOK">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%- include footer %>
<script>
	$("textarea#pagedownMe").pagedownBootstrap({'sanatize': false, 'help': function(){alert(1);return false;}});

  var time = new Date().getTime();
  $("#submitButton").click(function(){
    $("#progressBar").attr("style", "width: 0%").attr("aria-valuenow", "0");
      var files = document.getElementById("fileInput").files;
      var formData = new FormData(document.forms.namedItem("fileinfo"));
      //formData.append('files', files);
      var names = "";
      for(var i = 0; i < files.length; i++)
      {
        names += time + files[i].name + ";";
      }
      names = names.substring(0, names.length - 1).replace(new RegExp(" ", "g"), "-");
      formData.append('filesName', names);
      var xhr;
      if (window.ActiveXObject) {
        xhr = new ActiveXObject("Microsoft.XMLHTTP");
      } else if (window.XMLHttpRequest) {
        xhr = new XMLHttpRequest();
      }
      xhr.open("POST", "/asyncUpload", true);
      xhr.onload = function(event){
          if(xhr.responseText == 1)
          {
            //alert('success');
            names = names.replace(new RegExp(";","g"), ')\n\n![aaa](http://localhost:3000/images/uploadImgs/');
            names = "\n![aaa](http://localhost:3000/images/uploadImgs/" + names;
            names = names + ")\n\n";
            var oldVal = $("textarea").val();
            $("textarea").val(oldVal + names);
          }
          else if(xhr.responseText == 0)
          {
            alert('empty');
          }
          else
          {
            alert('error');
          }
      };
      xhr.upload.addEventListener("progress", progressFunction, false);
      xhr.send(formData);
      
       function progressFunction(evt) {
            var progressBar = document.getElementById("progressBar");
            if (evt.lengthComputable) {
                var value = Math.floor((evt.loaded / evt.total) * 100);
                $("#progressBar").attr("style", "width: " + value + "%").attr("aria-valuenow", value);
                if(value == 100)
                {
                    $("#progressBar").removeClass("progress-bar-warning").addClass("progress-bar-success");;
                }
            }
        }  
  });
</script>